<h1> Marketing Questionnaire - Sam's Club</h1>

<hr>

Congratulations on being selected to participate in the Sam's Club Extreme Value Program! This is an exciting opportunity to showcase your inventory in Sam's Club and SamsClub.com.
The input on this form is necessary to create the artwork that will be printed on the pullcards and pallets that will be on display.  Please be accurate with the information as we cannot be responsible for the actual verbiage or terms and conditions of your product.  Also below you will be able to upload images and files needed for creating the artwork.  You can find more information on the Asset Guidelines or if you have questions please contact your Account Manager with InComm.

<br />
<b> * - Required Fields </b>
<b> i - More Information </b>

<hr>

<%= render 'form' %>
