<div id="accordion">
  <div class="section">
    <h1 class="active"> Marketing Asset Collection Form </h1>

    <div class="section">
      <div class="stextcell">
        Congratulations on being selected to participate in the Extreme Value Program! This is an exciting opportunity
        to showcase your inventory in warehouse club and online presence opportunities. The input on this form is
        necessary to create the artwork that will be printed on the pull cards that will be on display as well as online
        information about your product.

        <br/>
        <br/>

        Please be very accurate with the information as we cannot be responsible for the actual verbiage or terms and
        conditions of your product. Also below you will be able to upload images and files needed for creating the
        artwork. You can find more information on the Asset Guidelines or if you have questions please contact your
        Account Manager with InComm.
        <br/>

        <div class="info-b">
          <b> * - Required Fields </b>
        </div>
      </div>
    </div>
  </div>

  <%= render 'form' %>
</div>
