<div class="row">
  <div class="col-sm-12 details"><h3>Program costs</h3>
    <ul>
      <li>Partner is responsible for the cost of the Products and shipping costs to InComm.</li>
      <li>InComm to cover cost of production for pull cards and shipping costs to Sam’s Club.</li>
      <li>Payment for Products will be due to Partner within 60 days after receipt of Products and valid invoice by
        InComm.
      </li>
    </ul>
  </div>
</div>
