<!--<!doctype html>-->
<!--<html class="no-js" lang="">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<meta name="description" content="">-->
<!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--<title>Online Enrollment Form</title>-->
<!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->
<!--&lt;!&ndash; Place favicon.ico in the root directory &ndash;&gt;-->
<!--<link rel="stylesheet" href="styles/main.css">-->
<!--<script src="scripts/vendor/modernizr.js"></script>-->
<!--</head>-->
<!--<body>&lt;!&ndash;[if lt IE 10]>-->
<!--<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade-->
<!--your browser</a> to improve your experience.</p>-->
<!--<![endif]&ndash;&gt;-->

<div class="row">
  <div class="col-sm-12 details"><h3>Program Terms</h3>
    <ul>
      <li>Products will be shipped active by Partner to an InComm designated location.</li>
      <li>Partner is responsible for the value of the Products until receipt by InComm.</li>
      <li>Partner will buy back all remaining inventory after the offer period expires.</li>
      <li>This offer will also be available through Samsclub.com.</li>
      <li>Products will be treated as tender at redemption at Partner’s stores and will have no restrictions on use.
      </li>
      <li>Partner will have readily available Product samples.</li>
      <li>Partner will provide, and authorizes InComm to use, art components needed for pull card creation (high
        resolution logo, high resolution product image and text for terms and conditions).
      </li>
      <li>Partner authorizes InComm to use art components from Partner’s website as required for the program.</li>
      <li>Partner is responsible for remitting all applicable taxes to tax authorities. Partner will provide InComm
        with any resale certificates or other legally sufficient exemption certificates for applicable taxes as
        requested.
      </li>
      <li>Acceptance of this Online Offer Form does not guarantee Partner’s right to participate. Final approval of
        Partner’s participation is subject to InComm and Sam’s Club approval.
      </li>
      <li>All terms and conditions relating to the Extreme Value Program remain subject to the terms and conditions of
        the applicable InComm Purchase Order or execution of a separate, binding agreement, if applicable.
      </li>
    </ul>
    <p>Under the Electronic Signatures in Global and National Commerce Act (“E-Sign”), acceptance of the terms and
      conditions of this Online Offer Form is legally binding in the same manner as are hard copy documents executed
      by hand signature. This Online Offer Form shall be governed by the provisions of E-Sign.</p>

    <p>By pressing Accept and Continue, you agree (i) that Partner’s acceptance of the terms and conditions of this
      Online Offer Form shall be effective by electronic means, (ii) that Partner is to be bound by the terms and
      conditions of this Online Offer Form, and (iii) that you have the ability to print or otherwise store this
      Online Offer Form.</p></div>
</div>
