<div class="logo">
  <%= image_tag('incomm_logo2.jpg') %>
</div>
<br/>
<hr/>
<div class="section">
  <div class="stextcell">
    Online enrollment form was already submitted. Please contact your InComm account manager if you need any assistance or have any questions.
  </div>
</div>
